body {
    background-image: url('skulls.jpg');
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: overlay;
}

.page-header {
    background-color: #6b000096;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom-color: rgb(0, 0, 0);
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #bbbbbbd0;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    color: #ffffffc2;
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #b60000;
}

.post p {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}
